:root {
    --background:#ddd;
    --text-primary:#fff;
    --text-secondary:#37474f;
    --text-ternary:#607d8b;
    --accent-primary-shade:#0062ff;
    --accent-secondary-shade:#0062ff;
    --box-bg-shade1:#f2f2f2;
    --box-bg-shade2:#fff;
    --bg-img:url('https://cdn-icons-png.flaticon.com/512/624/624106.png');
  }
  
[data-theme='dark'] {
--background:#000;
--text-primary:#0062ff;
--text-secondary:#0062ff;
--text-ternary:#aaaaaa;
--accent-primary-shade:#121418;
--accent-secondary-shade:#131822;
--box-bg-shade1:#121418;
--box-bg-shade2:#131822;
--bg-img:url('https://cdn-icons-png.flaticon.com/512/1030/1030902.png');
}

.app{
    background-color: var(--background);
    height: auto;
    font-family: 'Kanit', sans-serif;
  }

*,
::after,
::before {
box-sizing: border-box
}

.nav{
    width: 100vw;
    background-image: linear-gradient(90deg,var(--accent-primary-shade),var(--accent-secondary-shade));
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%),
                0 2px 4px -1px rgb(0 0 0 / 6%);
  }
  
.nav-title{
font-size: xx-large;
color: var(--text-primary);
margin: auto;
text-align: center;
font-weight: bold;
padding: 10px auto;
}

.dk{
    background-image: var(--bg-img);
    position: fixed;
    top: 90%;
    right: 2%;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    border: none;
    background-size: cover;
    z-index: 50;
    box-shadow: 2px 2px 5px 1px #000;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(45%,1fr));
    margin-top: 1.5rem;
    align-items: center;
    padding-bottom: 1.3rem;
}

.box{
    margin: 10px;
    height: 12.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%),
    0 2px 4px -1px rgb(0 0 0 / 6%);
    padding: 0px;
    overflow: auto;
}

.button_box{
    background-image: linear-gradient(90deg, var(--box-bg-shade1), var(--box-bg-shade2));
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%),
    0 2px 4px -1px rgb(0 0 0 / 6%);
}

.button_box h2{
    font-weight: bolder;
    font-size: 2rem;
    color: var(--text-secondary);
}

.button_box p{
    font-weight: bold;
    font-size: 1.4rem;
    color:var(--text-ternary);
}

.container,
.container-fluid{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto
}

@media (min-width:576px) {

  .container{
    max-width: 540px
  }
}

@media (min-width:768px) {

  .container{
    max-width: 720px
  }
}

@media (min-width:992px) {

  .container {
    max-width: 960px
  }
}

@media (min-width:1200px) {

  .container{
    max-width: 1140px
  }
}

@media (min-width:1400px) {

  .container {
    max-width: 1320px
  }
}
@media only screen and (max-width: 920px) {
    .wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(100%,1fr));
        margin-top: 1.5rem;
        align-items: center;
        padding-bottom: 1.4rem;
    }
}

